@import '../../../variables';

.back-to-features {
  white-space: nowrap;
  color: $theme-black;
  margin-bottom: $default-spacing;
  display: flex;

  > div {
    width: 50%;

    &:first-child {
      font-weight: bold;
      color: $theme-red;
    }

    &:last-child {
      text-align: right;
    }
  }

  svg {
    height: 12px;
    width: 12px;
    fill: $theme-black;
    margin-right: $small-spacing;
    vertical-align: middle;
  }
}