// Colors
$theme-gray: #252525;
$theme-light-gray: #a0a0a0;
$theme-red: #d4101d;
$theme-white: #ffffff;

// Spacings
$default-spacing: 10px;
$small-spacing: $default-spacing / 2;
$large-spacing: $default-spacing * 2;