// Colors
$theme-gray: #252525;
$theme-light-gray: #a0a0a0;
$theme-red: #d4101d;
$theme-white: #ffffff;
$theme-black: #000000;
$theme-blue: #065ed4;
$theme-green: #4CC790;

// Spacings
$default-spacing: 10px;
$small-spacing: $default-spacing / 2;
$large-spacing: $default-spacing * 2;