@import './variables';

/**
 * Globals
 */
 body, html {
  font-family: "Segoe UI", Tahoma, sans-serif;
  font-size: 12px;

  margin: 0;
  padding: 0;
  width: $popup-max-width;

  background-color: $theme-gray;
}
.myga {
  > svg {
    display: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}