@import './variables';

/**
 * Globals
 */
 body, html {
  font-family: "Segoe UI", Tahoma, sans-serif;
  font-size: 12px;

  margin: 0;
  padding: 0;
  width: 500px;

  background-color: $theme-gray;
}

a {
  color: auto;
  text-decoration: none;
  transition: $default-transition;
}