.myga--custom-bar.bar--moon .ytp-play-progress {
  padding: 2.5px 1px;
  top: -2px;
  background-color: #080808;
}
.myga--custom-bar.bar--moon .ytp-scrubber-container {
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/bars/moon.gif');
  background-repeat: no-repeat;
  background-size: 30px;
  width: 30px;
  height: 29px;
  margin-top: -9px;
}
.myga--custom-bar.bar--moon .paused-mode .ytp-scrubber-container {
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/bars/moon__pause.gif');
}
.myga--custom-bar.bar--moon .ytp-scrubber-container:hover {
  background-size: 34px;
  width: 34px;
  height: 33px;
  margin-top: -10px;
}
.myga--custom-bar .ytp-scrubber-button {
  display: none;
}
