.myga--custom-bar.bar--football .ytp-play-progress {
  padding: 2.5px 1px;
  top: -2px;
  background: -webkit-gradient(linear,  left top,  left bottom,
  color-stop(0.00, #417e1b),
  color-stop(17%, #417e1b),
  color-stop(33%, #8ed447),
  color-stop(50%, #8ed447),
  color-stop(67%, #417e1b),
  color-stop(83%, #417e1b));
}

.myga--custom-bar.bar--football .ytp-scrubber-container {
  background-repeat: no-repeat;
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/bars/football.gif');
  background-size: 20px;
  width: 20px;
  height: 20px;
  margin-top: -4px;
}

.myga--custom-bar.bar--football .paused-mode .ytp-scrubber-container {
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/bars/football__pause.gif');
}

.myga--custom-bar.bar--football .ytp-scrubber-container:hover {
  background-size: 24px;
  width: 24px;
  height: 24px;
  margin-top: -5px;
}
.myga--custom-bar .ytp-scrubber-button {
  display: none;
}