.myga--custom-bar.bar--poop .ytp-play-progress {
  padding: 2.5px 1px;
  top: -2px;
  background: -webkit-gradient(linear, left top, left bottom,
  color-stop(0.00, #fbd191),
  color-stop(17%, #c78526),
  color-stop(33%, #ae6b07),
  color-stop(50%, #8f5705),
  color-stop(67%, #7e3f00),
  color-stop(83%, #522900));
}
.myga--custom-bar.bar--poop .ytp-scrubber-container {
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/bars/poop.gif');
  background-repeat: no-repeat;
  background-size: 20px;
  width: 20px;
  height: 26px;
  margin-top: -15px;
}

.myga--custom-bar.bar--poop:not(.myga-browser--firefox) .ytp-scrubber-container {
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/bars/poop.gif');
}
.myga-browser--firefox.myga--custom-bar.bar--poop .ytp-scrubber-container {
  background-image: url('moz-extension://__MSG_@@extension_id__/images/bars/poop.gif');
}

.myga--custom-bar.bar--poop:not(.myga-browser--firefox) .paused-mode .ytp-scrubber-container {
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/bars/poop__pause.gif');
}
.myga-browser--firefox.myga--custom-bar.bar--poop .paused-mode .ytp-scrubber-container {
  background-image: url('moz-extension://__MSG_@@extension_id__/images/bars/poop__pause.gif');
}

.myga--custom-bar.bar--poop .ytp-scrubber-container:hover {
  background-size: 24px;
  width: 24px;
  height: 31px;
  margin-top: -15px;
  margin-left: -4px;
}
.myga--custom-bar .ytp-scrubber-button {
  display: none;
}