@import '../../../variables';

// $tb = Tab Bar
$tb-background-color: $theme-gray;
$tb-content-background-color: $theme-white;
$tb-border-color: $theme-light-gray;
$tb-default-spacing: $default-spacing / 2;

.tabs {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  margin: 0 $default-spacing;
  z-index: 99;

  &__tab {
    background-color: #eeeeee;
    display: inline-block;
    color: $tb-border-color;
    margin-right: $tb-default-spacing;
    padding: $tb-default-spacing;
    cursor: pointer;

    &:hover {
      color: $theme-gray;
    }

    &.tab--active {
      color: $theme-red;
      font-weight: bold;
      height: auto;
      background-color: $theme-white;
      cursor: default;
    }
  }

  &-content {
    background-color: $theme-white;
    padding: $large-spacing;
  }

  &__version {
    color: lighten($theme-gray, 15%);
    float: right;
    font-size: 9px;
    margin-top: $default-spacing;
  }
}