@import "./src/styles/_tabs.scss";

/**
 * Globals
 */
body, html {
  margin: 0;
  padding: 0;
  width: 500px;
  max-height: 650px;
  background-color: $tb-background-color;
}

.visibility--hidden {
  display: none;
}
