@import '../../../popup/variables';

$video-width-sm: 310px;
$video-height-sm: 175px;

$video-width-md: 475px;
$video-height-md: 268px;

$video-width-lg: 640px;
$video-height-lg: 360px;

$video-width-xl: 854px;
$video-height-xl: 480px;

$button-size: $large-spacing * 2;

.pinned-video {
  opacity: 0;
  visibility: hidden;
  width: $video-width-sm;
  height: $video-height-sm;
  position: fixed;
  right: 5px;
  top: 60px;
  z-index: 1000;
  background-color: $theme-black;
  box-shadow: 0 0 5px $theme-black;
  cursor: move;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out, opacity 0.2s ease-in-out;

  &--size-0 {
    width: $video-width-sm;
    height: $video-height-sm;

    .button--minus {
      cursor: not-allowed;
      opacity: 0.2 !important;
    }
  }

  &--size-1 {
    width: $video-width-md;
    height: $video-height-md;
  }

  &--size-2 {
    width: $video-width-lg;
    height: $video-height-lg;
  }

  &--size-3 {
    width: $video-width-xl;
    height: $video-height-xl;

    .button--plus {
      cursor: not-allowed;
      opacity: 0.2 !important;
    }
  }

  &--active {
    opacity: 1;
    visibility: visible;

    .video-stream {
      top: 0 !important;
      left: 0 !important;
      width: 100% !important;
      height: 100% !important;
    }
  }

  &__progress-bar {
    height: 3px !important;
    padding: 0 !important;
    top: auto !important;
  }

  &__button {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    background-color: rgba($theme-black, 0.5);
    height: $button-size;
    width: $button-size;
    padding: $default-spacing;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: $default-transition;

    &.button--plus {
      top: $small-spacing * 2 + $button-size;
      left: $small-spacing;

      &:hover {
        background-color: $theme-black;
      }
    }

    &.button--minus {
      top: $small-spacing;
      left: $small-spacing;

      &:hover {
        background-color: $theme-black;
      }
    }

    &.button--close {
      top: 0;
      right: 0;
      height: auto;
      width: auto;

      svg {
        height: $large-spacing;
        width: $large-spacing;
      }

      background-color: transparent;
    }

    &.button--play-pause {
      top: 50%;
      left: 50%;
      height: $button-size * 2;
      width: $button-size * 2;
      margin-left: -($button-size);
      margin-top: -($button-size);
      background-color: transparent;

      > span {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        border-radius: 360px;
        background-image: linear-gradient(to right, $theme-orange, $theme-pink);
        transition: $default-transition;
        opacity: 0.5;
      }

      svg {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        height: $button-size;
        width: $button-size;
        padding: $large-spacing;
      }

      &:hover {
        > span {
          opacity: 1;
        }
      }
    }

    svg {
      display: inline-block;
      height: $default-spacing;
      width: $default-spacing;
      fill: $theme-white;
    }
  }

  &:hover {
    .pinned-video__button {
      opacity: 1;
      visibility: visible;
    }
  }
}