@import '../../../popup/variables';

.pinned-video {
  opacity: 0;
  visibility: hidden;
  width: 310px;
  height: 175px;
  position: fixed;
  right: 5px;
  top: 60px;
  z-index: 1000;
  background-color: $theme-black;
  box-shadow: 0 0 5px $theme-black;
  cursor: move;

  &--active {
    opacity: 1;
    visibility: visible;

    transition: all ease-in .3;
  }
}