@use 'sass:math';
@use '../../../variables' as *;

$link-box-size: math.div($tab-content-width - ($default-spacing * 3), 4);

.link-box {
  position: relative;
  height: $link-box-size;
  background-color: var(--myga-card-bg);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  &--wide {
    grid-column: span 2;
  }

  &__icon {
    height: math.div($link-box-size, 2);
    width: math.div($link-box-size, 2);
    fill: var(--myga-link-icon);
    transition: $default-transition;

    &--image {
      height: 100%;
      width: 100%;
      margin: 0;
    }
  }

  &__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba($theme-gray, .9);
    transition: $default-transition;
    display: flex;
    align-items: center;
    justify-content: center;

    > span {
      color: white;
    }
  }

  &:hover {
    .link-box__icon {
      fill: var(--myga-link-icon-hover);
      transform: scale(1.3);
    }

    .link-box__overlay {
      top: 0px;
    }
  }
}