@import '../../../popup/variables';

.settings {

  &__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;

    > * {
      width: 50%;
    }

    .progress-bar {
      display: flex;
      padding: $large-spacing;

      &__selector {
        height: $large-spacing;
        width: $large-spacing;
        margin-left: $large-spacing;
      }

      &__preview {
        flex: 1;
        height: $large-spacing;
        padding: 0 $large-spacing;
        position: relative;

        .preview {
          &__full-progress {
            position: absolute;
            left: 0;
            top: 50%;
            right: 0;
            background-color: rgba($theme-black, 0.2);
            height: 4px;
            margin-top: -2px;
          }

          &__center {
            position: absolute;
            top: 10%;
            left: 50%;
            margin-left: -($large-spacing/2);

            .ytp-scrubber-container {
              position: absolute;
            }
          }
        }

        .ytp-play-progress {
          position: absolute;
          left: 0;
          top: 50%;
          width: 50%;
          height: 1px;
          margin-top: -3px;
        }
      }
    }
  }
}

.selector {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    visibility: hidden;

    &:checked ~ .checkmark {
      background-color: $theme-red;
    }

    &:checked ~ .checkmark:after {
      display: block;
    }

    &:hover:not(:checked) ~ .checkmark:after {
      background-color: $theme-light-gray;
      display: block;
    }
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: $large-spacing;
    width: $large-spacing;
    background-color: $theme-silver-white;
    border-radius: 50%;

    &:after {
      content: "";
      position: absolute;
      display: none;
    }

    &:after {
      top: $small-spacing;
      left: $small-spacing;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $theme-white;
   }
  }
}

@import '../../../assets/css/bars/bar__nyan-cat.css';
@import '../../../assets/css/bars/bar__zombie.css';
@import '../../../assets/css/bars/bar__football.css';
@import '../../../assets/css/bars/bar__pacman.css';
@import '../../../assets/css/bars/bar__poop.css';
@import '../../../assets/css/bars/bar__purge.css';
@import '../../../assets/css/bars/bar__war-crab.css';
@import '../../../assets/css/bars/bar__orcs.css';
@import '../../../assets/css/bars/bar__unicorn.css';
@import '../../../assets/css/bars/bar__panda.css';
@import '../../../assets/css/bars/bar__horse.css';
