@import '../../variables';

$about-box-size: ($tab-content-width - $default-spacing) / 2;

.about {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  &__links, &__news {
    position: relative;
    width: $about-box-size;
    height: $about-box-size;
  }
}
