@import '../../../variables';

$toggle-width: $large-spacing * 2;
$toggle-height: $large-spacing;
$slider-size: $large-spacing - 4px;
$slider-spacing: ($toggle-height - $slider-size) / 2;
$toggle-distance: $toggle-width - ($slider-spacing * 2) - $slider-size;

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__column {
    &:first-child {
      flex: 1;
    }
  }

  &:not(:last-child) {
    margin-bottom: $default-spacing;
  }

  &__title {
    font-weight: bold;

    > span {
      display: inline-block;
      background-size: 10px auto;
      background-repeat: no-repeat;
      vertical-align: middle;
      width: 10px;
      height: 6px;
    }
  }

  &__switch {
    position: relative;
    display: inline-block;
    width: $toggle-width;
    height: $toggle-height;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }

  &__settings-link {
    margin: 0 $default-spacing;

    svg {
      fill: $theme-black;
      height: $large-spacing;
      width: $large-spacing;
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $theme-gray;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
      position: absolute;
      content: "";
      height: $slider-size;
      width: $slider-size;
      left: $slider-spacing;
      bottom: $slider-spacing;
      background-color: $theme-white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    &--round {
      border-radius: $toggle-height;
      &:before {
        border-radius: 50%;
      }
    }
  }

  input:checked + .slider {
    background-color: $theme-red;
    background-image: linear-gradient(to right, $theme-orange, $theme-pink);
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $theme-red;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX($toggle-distance);
    -ms-transform: translateX($toggle-distance);
    transform: translateX($toggle-distance);
  }

  &:hover {
    .slider {
      background-color: darken($theme-gray, 15%);
    }

    input:checked + .slider {
      background-color: darken($theme-red, 15%);
    }
  }
}