@import '../../variables';

.layout {
  &__header {
    position: relative;
    display: block;
    background-color: $theme-gray;
    height: 100%;
    overflow: hidden;

    .header__close-button {
      position: absolute;
      top: $default-spacing;
      right: $default-spacing;
      cursor: pointer;
      z-index: 999;

      svg {
        fill: $theme-light-gray;
        height: $large-spacing;
        width: $large-spacing;
        transition: $default-transition;
      }

      &:hover {
        svg {
          fill: $theme-white;
        }
      }
    }

    .header__logo {
      width: 100%;
      height: 160px;
      overflow: hidden;
      position: relative;

      &__image {
        height: 100%;
        width: 100%;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &:first-child {
          background-color: $theme-black;
          transition: all 0.5s;
        }

        &:nth-child(2) {
          position: absolute;
          top: 0;
          left: 0;
          transition: all 0.4s;
        }
      }

      &:hover, &:focus {
        .header__logo__image {
          &:first-child {
            transform: scale(1.1);
          }

          &:nth-child(2) {
            transform: scale(0.8);
          }
        }
      }
    }
  }
}