@use '../../variables' as *;

.error-boundary {
  padding: $large-spacing;
  background-color: var(--myga-card-bg);
  color: var(--myga-text);

  strong {
    display: block;
    margin-bottom: $small-spacing;
    color: $theme-red;
  }
}
